@import "tailwindcss";

:root {
  --background: #1A1A1A;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}