@import "tailwindcss";

:root {
  --background: #050511;
  --foreground: #ffffff;
  --card-bg: #0B0C15;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /* Prevent scrolling for TV display */
}

/* Custom scrollbar hide just in case */
::-webkit-scrollbar {
  display: none;
}